{% extends "base.html" %}


{% block content %}
<div class="errors">
 <h1>
  Server Error
 </h1>
 <p>
  There seems to be an error on the server. If you continue to face this problem, please inform
        mentioning the name of your
        browser, with version number, and the operating system you use.
        Please specify the action(s) leading you to the error to help us
        diagnose and rectify any errors as soon as possible. We would greatly
        appreciate if you could attach the screenshots of pages before the
        error occurred.
 </p>
 <p>
  We apologise for the inconvinence
 </p>
</div>
{% endblock %}
