{% extends "base.html" %}

{% block content %}
 <div style="text-align:justify; width:700px;">        
    <h1> FAQs </h1>
<ol>
  <li>I am newbie to programming contests. Where and how can I practice for it?
      There are a lot of resources on the web.
      <ul>
        <li><a href="http://spoj.pl/" target="_blank">Sphere Online Judge</a>
          - solve problems and test solutions automatically.</li>
        <li><a href="http://acm.uva.es/problemset/" target="_blank">UVA Online Judge</a>

          - solve problems.</li>
        <li><a href="http://acm.uva.es/contest/" target="_blank">UVA Online Judge programming contests
          </a></li>
        <li><a href="http://www.topcoder.com/tc?module=Static&d1=tutorials&d2=alg_index"
          target="_blank">TopCoder - Educational Content - Algorithm tutorials</a></li>
        <li><a href="http://www.topcoder.com/tc" target="_blank">TopCoder</a>
          - weekly programming competitions.</li>
        <li><a href="http://acm.uva.es/p/Art_of_Programming_Contest_SE_for_uva.pdf"
		target="_blank">Tutorial</a> on Programming Contests</li>

      </ul>
  <li>How long would this contest be held?<br />
    <b>5 hrs.</b><br/></li>
  <li>What all languages can I use to code?<br />
    C++ and JAVA are allowed.<br/></li>
    <li> Can I use STL?<br />

    Yes you can. However any non-standard libraries will not be accepted.
</li>
</div>
{% endblock %}
