{% extends "base.html" %}

{% block content %}
<div style="text-align:justify; width:700px;">  
<div id="">
<h1>Welcome to Online Programming Contest, Shaastra 2011.</h1> 
    <p align="left">
    The Online Programming Contest has always been the biggest event of Shaastra and is back again this September. Be prepared
    for some intense competition while some of the best teams from across the globe compete for eternal fame, glory and of course a stake in the prize money worth
    <b>Rs 70,000</b>. Special prizes for the top Indian teams and teams from IIT Madras. <br/><br/>
    
    <b align="left">Contest timings: 25th September 2011 2:30 PM to 7:30 PM IST (GMT +5:30)</b>
    
    <!--<p align="left"><strong>Make sure you go through the rules before beginning the contest!</strong></p> -->

    <!--  <p align="left"><strong>The contest has begun!!</strong></p> -->

    <p align="left"><strong>The contest has ended!! Hope you enjoyed taking part in the contest.</strong></p>
    <p align="left"><strong><a href="../media/hints.pdf">Link</a> to the hints. Detailed solutions will be put up later.</strong></p>
    <p align="left"><strong>The prizes will be announced soon. Congratulations to the winners.</strong></p> 
</div>
{% endblock %}
